#Hawaii, #Palm, #London, #Alaska {
  display: none;
}

.jumbotron{
  margin-top: 10px;
  background-image: url(../img/world.jpg);
  background-position: center;
  background-size: cover;
  background-color: none;
  text-align: center;
}

body{
  background-color: #ffffff;
}

img{
  width: 200px;
  height: 200px;
}
